.Alert {
    z-index: 500;
    background-color: white;
    width: 50%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    padding: 30px 30px;
}
.success {
 background: #FFF8DC;
    margin-top: 10px;
    margin-bottom: 20px;
}
.danger{
    margin-bottom: 10px;
    background: #7FFFD4;
}
.btn-alert{
    border: none;
    background: none;
    float: right;
}