.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.modal-block-title {
    padding: 10px 10px;
    border-bottom: 1px solid #f5f5f5    ;
}
.title {
    float: left;
    font-weight: 400;
}
.button-close {
    float: right;
    background: transparent;
    border: none;
    padding: 10px;
}
.button{
    margin-left: 10px;
}
.show-alert{
    margin-left: 10px;
}
@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}